.view {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  left: 0%;
}

.left{
  position: absolute;;
  margin-left: 10px;
  margin-top: 235px;
  left:0%;
  z-index: 1000;
}
.right{
  position: absolute;;
  margin-right: 10px;
  margin-top: 235px;
  right: 0%;
  z-index: 1000;
}


.slide-container {
    height: 100%;
    width: 500%;
    position: absolute;
    left: 0%;
    transition: left 5s;
}

.slide {
  height: 100%;
  width: 20%;
  float: left;
  margin: auto;
  background-color: gold;
  text-align: center;
}

.img {
  margin-top: 30px;
}

.power {
  color: black;
  font-size: 1.2em;
  font-family: cursive;
}

.hide {
  display:none
}
